*{
		margin:0;
		padding:0;
	}
	body{
		background:linear-gradient(30deg,#fff,#fafa,#f123,#fff1,#f1f,#fff,#FAFAFA,#ff1,#f1f,#1ff,#fff,#fafa,#f123,#fff1,#f1f,#fff,#FAFAFA,#ff1,#f1f,#1ff,#fff,#fafa,#f123,#fff1,#f1f,#fff,#FAFAFA,#ff1,#f1f,#1ff,#fff,#fafa,#f123,#fff1,#f1f,#fff,#FAFAFA,#ff1,#f1f,#1ff,#fff,#fafa,#f123,#fff1,#f1f,#fff,#FAFAFA,#ff1,#f1f,#1ff,#fff,#fafa,#f123,#fff1,#f1f,#fff,#FAFAFA,#ff1,#f1f,#1ff,#fff,#fafa,#f123,#fff1,#f1f,#fff,#FAFAFA,#ff1,#f1f,#1ff,#fff,#fafa,#f123,#fff1,#f1f,#fff,#FAFAFA,#ff1,#f1f,#1ff,#fff,#fff,#fafa,#f123,#fff1,#f1f,#fff,#FAFAFA,#ff1,#f1f,#1ff,#fff,#fff,#fafa,#f123,#fff1,#f1f,#fff,#FAFAFA,#ff1,#f1f,#1ff,#fff,#fff,#fafa,#f123,#fff1,#f1f,#fff,#FAFAFA,#ff1,#f1f,#1ff,#fff,#fafa,#f123,#fff1,#f1f,#fff,#FAFAFA,#ff1,#f1f,#1ff,#fff,#fafa,#f123,#fff1,#f1f,#fff,#FAFAFA,#ff1,#f1f,#1ff,#fff,#fafa,#f123,#fff1,#f1f,#fff,#FAFAFA,#ff1,#f1f,#1ff,#fff,#fafa,#f123,#fff1,#f1f,#fff,#FAFAFA,#ff1,#f1f,#1ff,#fff,#fafa,#f123,#fff1,#f1f,#fff,#FAFAFA,#ff1,#f1f,#1ff,#fff,#fafa,#f123,#fff1,#f1f,#fff,#FAFAFA,#ff1,#f1f,#1ff,#fff,#fafa,#f123,#fff1,#f1f,#fff,#FAFAFA,#ff1,#f1f,#1ff,#fff,#fafa,#f123,#fff1,#f1f,#fff,#FAFAFA,#ff1,#f1f,#1ff,#fff,#fff,#fafa,#f123,#fff1,#f1f,#fff,#FAFAFA,#ff1,#f1f,#1ff,#fff,#fff,#fafa,#f123,#fff1,#f1f,#fff,#FAFAFA,#ff1,#f1f,#1ff,#fff,#fff,#fafa,#f123,#fff1,#f1f,#fff,#FAFAFA,#ff1,#f1f,#1ff,#fff,#fafa,#f123,#fff1,#f1f,#fff,#FAFAFA,#ff1,#f1f,#1ff,#fff,#fafa,#f123,#fff1,#f1f,#fff,#FAFAFA,#ff1,#f1f,#1ff,#fff,#fafa,#f123,#fff1,#f1f,#fff,#FAFAFA,#ff1,#f1f,#1ff,#fff,#fafa,#f123,#fff1,#f1f,#fff,#FAFAFA,#ff1,#f1f,#1ff,#fff,#fafa,#f123,#fff1,#f1f,#fff,#FAFAFA,#ff1,#f1f,#1ff,#fff,#fafa,#f123,#fff1,#f1f,#fff,#FAFAFA,#ff1,#f1f,#1ff,#fff,#fafa,#f123,#fff1,#f1f,#fff,#FAFAFA,#ff1,#f1f,#1ff,#fff,#fafa,#f123,#fff1,#f1f,#fff,#FAFAFA,#ff1,#f1f,#1ff,#fff,#fff,#fafa,#f123,#fff1,#f1f,#fff,#FAFAFA,#ff1,#f1f,#1ff,#fff,#fff,#fafa,#f123,#fff1,#f1f,#fff,#FAFAFA,#ff1,#f1f,#1ff,#fff,#fff,#fafa,#f123,#fff1,#f1f,#fff,#FAFAFA,#ff1,#f1f,#1ff,#fff,#fafa,#f123,#fff1,#f1f,#fff,#FAFAFA,#ff1,#f1f,#1ff,#fff,#fafa,#f123,#fff1,#f1f,#fff,#FAFAFA,#ff1,#f1f,#1ff,#fff,#fafa,#f123,#fff1,#f1f,#fff,#FAFAFA,#ff1,#f1f,#1ff,#fff,#fafa,#f123,#fff1,#f1f,#fff,#FAFAFA,#ff1,#f1f,#1ff,#fff,#fafa,#f123,#fff1,#f1f,#fff,#FAFAFA,#ff1,#f1f,#1ff,#fff,#fafa,#f123,#fff1,#f1f,#fff,#FAFAFA,#ff1,#f1f,#1ff,#fff,#fafa,#f123,#fff1,#f1f,#fff,#FAFAFA,#ff1,#f1f,#1ff,#fff,#fafa,#f123,#fff1,#f1f,#fff,#FAFAFA,#ff1,#f1f,#1ff,#fff,#fff,#fafa,#f123,#fff1,#f1f,#fff,#FAFAFA,#ff1,#f1f,#1ff,#fff,#fff,#fafa,#f123,#fff1,#f1f,#fff,#FAFAFA,#ff1,#f1f,#1ff,#fff,#fff,#fafa,#f123,#fff1,#f1f,#fff,#FAFAFA,#ff1,#f1f,#1ff,#fff,#fafa,#f123,#fff1,#f1f,#fff,#FAFAFA,#ff1,#f1f,#1ff,#fff,#fafa,#f123,#fff1,#f1f,#fff,#FAFAFA,#ff1,#f1f,#1ff,#fff,#fafa,#f123,#fff1,#f1f,#fff,#FAFAFA,#ff1,#f1f,#1ff,#fff,#fafa,#f123,#fff1,#f1f,#fff,#FAFAFA,#ff1,#f1f,#1ff,#fff,#fafa,#f123,#fff1,#f1f,#fff,#FAFAFA,#ff1,#f1f,#1ff,#fff,#fafa,#f123,#fff1,#f1f,#fff,#FAFAFA,#ff1,#f1f,#1ff,#fff,#fafa,#f123,#fff1,#f1f,#fff,#FAFAFA,#ff1,#f1f,#1ff,#fff,#fafa,#f123,#fff1,#f1f,#fff,#FAFAFA,#fff,#fafa,#f123,#fff1,#f1f,#fff,#FAFAFA,#ff1,#f1f,#1ff,#fff,#fafa,#f123,#fff1,#f1f,#fff,#FAFAFA,#ff1,#f1f,#1ff,#fff,#fafa,#f123,#fff1,#f1f,#fff,#FAFAFA,#ff1,#f1f,#1ff,#fff,#fafa,#f123,#fff1,#f1f,#fff,#FAFAFA,#ff1,#f1f,#1ff,#fff,#fafa,#f123,#fff1,#f1f,#fff,#FAFAFA,#ff1,#f1f,#1ff,#fff,#fafa,#f123,#fff1,#f1f,#fff,#FAFAFA,#ff1,#f1f,#1ff,#fff,#fafa,#f123,#fff1,#f1f,#fff,#FAFAFA,#ff1,#f1f,#1ff,#fff,#fafa,#f123,#fff1,#f1f,#fff,#FAFAFA,#ff1,#f1f,#1ff,#fff,#fff,#fafa,#f123,#fff1,#f1f,#fff,#FAFAFA,#ff1,#f1f,#1ff,#fff,#fff,#fafa,#f123,#fff1,#f1f,#fff,#FAFAFA,#ff1,#f1f,#1ff,#fff,#fff,#fafa,#f123,#fff1,#f1f,#fff,#FAFAFA,#ff1,#f1f,#1ff,#fff,#fafa,#f123,#fff1,#f1f,#fff,#FAFAFA,#ff1,#f1f,#1ff,#fff,#fafa,#f123,#fff1,#f1f,#fff,#FAFAFA,#ff1,#f1f,#1ff,#fff,#fafa,#f123,#fff1,#f1f,#fff,#FAFAFA,#ff1,#f1f,#1ff,#fff,#fafa,#f123,#fff1,#f1f,#fff,#FAFAFA,#ff1,#f1f,#1ff,#fff,#fafa,#f123,#fff1,#f1f,#fff,#FAFAFA,#ff1,#f1f,#1ff,#fff,#fafa,#f123,#fff1,#f1f,#fff,#FAFAFA,#ff1,#f1f,#1ff,#fff,#fafa,#f123,#fff1,#f1f,#fff,#FAFAFA,#ff1,#f1f,#1ff,#fff,#fafa,#f123,#fff1,#f1f,#fff,#FAFAFA,#ff1,#f1f,#1ff,#fff,#fff,#fafa,#f123,#fff1,#f1f,#fff,#FAFAFA,#ff1,#f1f,#1ff,#fff,#fff,#fafa,#f123,#fff1,#f1f,#fff,#FAFAFA,#ff1,#f1f,#1ff,#fff,#fff,#fafa,#f123,#fff1,#f1f,#fff,#FAFAFA,#ff1,#f1f,#1ff,#fff,#fafa,#f123,#fff1,#f1f,#fff,#FAFAFA,#ff1,#f1f,#1ff,#fff,#fafa,#f123,#fff1,#f1f,#fff,#FAFAFA,#ff1,#f1f,#1ff,#fff,#fafa,#f123,#fff1,#f1f,#fff,#FAFAFA,#ff1,#f1f,#1ff,#fff,#fafa,#f123,#fff1,#f1f,#fff,#FAFAFA,#ff1,#f1f,#1ff,#fff,#fafa,#f123,#fff1,#f1f,#fff,#FAFAFA,#ff1,#f1f,#1ff,#fff,#fafa,#f123,#fff1,#f1f,#fff,#FAFAFA,#ff1,#f1f,#1ff,#fff,#fafa,#f123,#fff1,#f1f,#fff,#FAFAFA,#ff1,#f1f,#1ff,#fff,#fafa,#f123,#fff1,#f1f,#fff,#FAFAFA,#ff1,#f1f,#1ff,#fff,#fff,#fafa,#f123,#fff1,#f1f,#fff,#FAFAFA,#ff1,#f1f,#1ff,#fff,#fff,#fafa,#f123,#fff1,#f1f,#fff,#FAFAFA,#ff1,#f1f,#1ff,#fff,#fff,#fafa,#f123,#fff1,#f1f,#fff,#FAFAFA,#ff1,#f1f,#1ff,#fff,#fafa,#f123,#fff1,#f1f,#fff,#FAFAFA,#ff1,#f1f,#1ff,#fff,#fafa,#f123,#fff1,#f1f,#fff,#FAFAFA,#ff1,#f1f,#1ff,#fff,#fafa,#f123,#fff1,#f1f,#fff,#FAFAFA,#ff1,#f1f,#1ff,#fff,#fafa,#f123,#fff1,#f1f,#fff,#FAFAFA,#ff1,#f1f,#1ff,#fff,#fafa,#f123,#fff1,#f1f,#fff,#FAFAFA,#ff1,#f1f,#1ff,#fff,#fafa,#f123,#fff1,#f1f,#fff,#FAFAFA,#ff1,#f1f,#1ff,#fff,#fafa,#f123,#fff1,#f1f,#fff,#FAFAFA,#ff1,#f1f,#1ff,#fff,#fafa,#f123,#fff1,#f1f,#fff,#FAFAFA,#ff1,#f1f,#1ff,#fff,#fff,#fafa,#f123,#fff1,#f1f,#fff,#FAFAFA,#ff1,#f1f,#1ff,#fff,#fff,#fafa,#f123,#fff1,#f1f,#fff,#FAFAFA,#ff1,#f1f,#1ff,#fff,#fff,#fafa,#f123,#fff1,#f1f,#fff,#FAFAFA,#ff1,#f1f,#1ff,#fff,#fafa,#f123,#fff1,#f1f,#fff,#FAFAFA,#ff1,#f1f,#1ff,#fff,#fafa,#f123,#fff1,#f1f,#fff,#FAFAFA,#ff1,#f1f,#1ff,#fff,#fafa,#f123,#fff1,#f1f,#fff,#FAFAFA,#ff1,#f1f,#1ff,#fff,#fafa,#f123,#fff1,#f1f,#fff,#FAFAFA,#ff1,#f1f,#1ff,#fff,#fafa,#f123,#fff1,#f1f,#fff,#FAFAFA,#ff1,#f1f,#1ff,#fff,#fafa,#f123,#fff1,#f1f,#fff,#FAFAFA,#ff1,#f1f,#1ff,#fff,#fafa,#f123,#fff1,#f1f,#fff,#FAFAFA,#ff1,#f1f,#1ff,#fff,#fafa,#f123,#fff1,#f1f,#fff,#FAFAFA,#fff,#fafa,#f123,#fff1,#f1f,#fff,#FAFAFA,#ff1,#f1f,#1ff,#fff,#fafa,#f123,#fff1,#f1f,#fff,#FAFAFA,#ff1,#f1f,#1ff,#fff,#fafa,#f123,#fff1,#f1f,#fff,#FAFAFA,#ff1,#f1f,#1ff,#fff,#fafa,#f123,#fff1,#f1f,#fff,#FAFAFA,#ff1,#f1f,#1ff,#fff,#fafa,#f123,#fff1,#f1f,#fff,#FAFAFA,#ff1,#f1f,#1ff,#fff,#fafa,#f123,#fff1,#f1f,#fff,#FAFAFA,#ff1,#f1f,#1ff,#fff,#fafa,#f123,#fff1,#f1f,#fff,#FAFAFA,#ff1,#f1f,#1ff,#fff,#fafa,#f123,#fff1,#f1f,#fff,#FAFAFA,#ff1,#f1f,#1ff,#fff,#fff,#fafa,#f123,#fff1,#f1f,#fff,#FAFAFA,#ff1,#f1f,#1ff,#fff,#fff,#fafa,#f123,#fff1,#f1f,#fff,#FAFAFA,#ff1,#f1f,#1ff,#fff,#fff,#fafa,#f123,#fff1,#f1f,#fff,#FAFAFA,#ff1,#f1f,#1ff,#fff,#fafa,#f123,#fff1,#f1f,#fff,#FAFAFA,#ff1,#f1f,#1ff,#fff,#fafa,#f123,#fff1,#f1f,#fff,#FAFAFA,#ff1,#f1f,#1ff,#fff,#fafa,#f123,#fff1,#f1f,#fff,#FAFAFA,#ff1,#f1f,#1ff,#fff,#fafa,#f123,#fff1,#f1f,#fff,#FAFAFA,#ff1,#f1f,#1ff,#fff,#fafa,#f123,#fff1,#f1f,#fff,#FAFAFA,#ff1,#f1f,#1ff,#fff,#fafa,#f123,#fff1,#f1f,#fff,#FAFAFA,#ff1,#f1f,#1ff,#fff,#fafa,#f123,#fff1,#f1f,#fff,#FAFAFA,#ff1,#f1f,#1ff,#fff,#fafa,#f123,#fff1,#f1f,#fff,#FAFAFA,#ff1,#f1f,#1ff,#fff,#fff,#fafa,#f123,#fff1,#f1f,#fff,#FAFAFA,#ff1,#f1f,#1ff,#fff,#fff,#fafa,#f123,#fff1,#f1f,#fff,#FAFAFA,#ff1,#f1f,#1ff,#fff,#fff,#fafa,#f123,#fff1,#f1f,#fff,#FAFAFA,#ff1,#f1f,#1ff,#fff,#fafa,#f123,#fff1,#f1f,#fff,#FAFAFA,#ff1,#f1f,#1ff,#fff,#fafa,#f123,#fff1,#f1f,#fff,#FAFAFA,#ff1,#f1f,#1ff,#fff,#fafa,#f123,#fff1,#f1f,#fff,#FAFAFA,#ff1,#f1f,#1ff,#fff,#fafa,#f123,#fff1,#f1f,#fff,#FAFAFA,#ff1,#f1f,#1ff,#fff,#fafa,#f123,#fff1,#f1f,#fff,#FAFAFA,#ff1,#f1f,#1ff,#fff,#fafa,#f123,#fff1,#f1f,#fff,#FAFAFA,#ff1,#f1f,#1ff,#fff,#fafa,#f123,#fff1,#f1f,#fff,#FAFAFA,#ff1,#f1f,#1ff,#fff,#fafa,#f123,#fff1,#f1f,#fff,#FAFAFA,#ff1,#f1f,#1ff,#fff,#fff,#fafa,#f123,#fff1,#f1f,#fff,#FAFAFA,#ff1,#f1f,#1ff,#fff,#fff,#fafa,#f123,#fff1,#f1f,#fff,#FAFAFA,#ff1,#f1f,#1ff,#fff,#fff,#fafa,#f123,#fff1,#f1f,#fff,#FAFAFA,#ff1,#f1f,#1ff,#fff,#fafa,#f123,#fff1,#f1f,#fff,#FAFAFA,#ff1,#f1f,#1ff,#fff,#fafa,#f123,#fff1,#f1f,#fff,#FAFAFA,#ff1,#f1f,#1ff,#fff,#fafa,#f123,#fff1,#f1f,#fff,#FAFAFA,#ff1,#f1f,#1ff,#fff,#fafa,#f123,#fff1,#f1f,#fff,#FAFAFA,#ff1,#f1f,#1ff,#fff,#fafa,#f123,#fff1,#f1f,#fff,#FAFAFA,#ff1,#f1f,#1ff,#fff,#fafa,#f123,#fff1,#f1f,#fff,#FAFAFA,#ff1,#f1f,#1ff,#fff,#fafa,#f123,#fff1,#f1f,#fff,#FAFAFA,#ff1,#f1f,#1ff,#fff,#fafa,#f123,#fff1,#f1f,#fff,#FAFAFA,#ff1,#f1f,#1ff,#fff,#fff,#fafa,#f123,#fff1,#f1f,#fff,#FAFAFA,#ff1,#f1f,#1ff,#fff,#fff,#fafa,#f123,#fff1,#f1f,#fff,#FAFAFA,#ff1,#f1f,#1ff,#fff,#fff,#fafa,#f123,#fff1,#f1f,#fff,#FAFAFA,#ff1,#f1f,#1ff,#fff,#fafa,#f123,#fff1,#f1f,#fff,#FAFAFA,#ff1,#f1f,#1ff,#fff,#fafa,#f123,#fff1,#f1f,#fff,#FAFAFA,#ff1,#f1f,#1ff,#fff,#fafa,#f123,#fff1,#f1f,#fff,#FAFAFA,#ff1,#f1f,#1ff,#fff,#fafa,#f123,#fff1,#f1f,#fff,#FAFAFA,#ff1,#f1f,#1ff,#fff,#fafa,#f123,#fff1,#f1f,#fff,#FAFAFA,#ff1,#f1f,#1ff,#fff,#fafa,#f123,#fff1,#f1f,#fff,#FAFAFA,#ff1,#f1f,#1ff,#fff,#fafa,#f123,#fff1,#f1f,#fff,#FAFAFA,#ff1,#f1f,#1ff,#fff,#fafa,#f123,#fff1,#f1f,#fff,#FAFAFA,#fff,#fafa,#f123,#fff1,#f1f,#fff,#FAFAFA,#ff1,#f1f,#1ff,#fff,#fafa,#f123,#fff1,#f1f,#fff,#FAFAFA,#ff1,#f1f,#1ff,#fff,#fafa,#f123,#fff1,#f1f,#fff,#FAFAFA,#ff1,#f1f,#1ff,#fff,#fafa,#f123,#fff1,#f1f,#fff,#FAFAFA,#ff1,#f1f,#1ff,#fff,#fafa,#f123,#fff1,#f1f,#fff,#FAFAFA,#ff1,#f1f,#1ff,#fff,#fafa,#f123,#fff1,#f1f,#fff,#FAFAFA,#ff1,#f1f,#1ff,#fff,#fafa,#f123,#fff1,#f1f,#fff,#FAFAFA,#ff1,#f1f,#1ff,#fff,#fafa,#f123,#fff1,#f1f,#fff,#FAFAFA,#ff1,#f1f,#1ff,#fff,#fff,#fafa,#f123,#fff1,#f1f,#fff,#FAFAFA,#ff1,#f1f,#1ff,#fff,#fff,#fafa,#f123,#fff1,#f1f,#fff,#FAFAFA,#ff1,#f1f,#1ff,#fff,#fff,#fafa,#f123,#fff1,#f1f,#fff,#FAFAFA,#ff1,#f1f,#1ff,#fff,#fafa,#f123,#fff1,#f1f,#fff,#FAFAFA,#ff1,#f1f,#1ff,#fff,#fafa,#f123,#fff1,#f1f,#fff,#FAFAFA,#ff1,#f1f,#1ff,#fff,#fafa,#f123,#fff1,#f1f,#fff,#FAFAFA,#ff1,#f1f,#1ff,#fff,#fafa,#f123,#fff1,#f1f,#fff,#FAFAFA,#ff1,#f1f,#1ff,#fff,#fafa,#f123,#fff1,#f1f,#fff,#FAFAFA,#ff1,#f1f,#1ff,#fff,#fafa,#f123,#fff1,#f1f,#fff,#FAFAFA,#ff1,#f1f,#1ff,#fff,#fafa,#f123,#fff1,#f1f,#fff,#FAFAFA,#ff1,#f1f,#1ff,#fff,#fafa,#f123,#fff1,#f1f,#fff,#FAFAFA,#ff1,#f1f,#1ff,#fff,#fff,#fafa,#f123,#fff1,#f1f,#fff,#FAFAFA,#ff1,#f1f,#1ff,#fff,#fff,#fafa,#f123,#fff1,#f1f,#fff,#FAFAFA,#ff1,#f1f,#1ff,#fff,#fff,#fafa,#f123,#fff1,#f1f,#fff,#FAFAFA,#ff1,#f1f,#1ff,#fff,#fafa,#f123,#fff1,#f1f,#fff,#FAFAFA,#ff1,#f1f,#1ff,#fff,#fafa,#f123,#fff1,#f1f,#fff,#FAFAFA,#ff1,#f1f,#1ff,#fff,#fafa,#f123,#fff1,#f1f,#fff,#FAFAFA,#ff1,#f1f,#1ff,#fff,#fafa,#f123,#fff1,#f1f,#fff,#FAFAFA,#ff1,#f1f,#1ff,#fff,#fafa,#f123,#fff1,#f1f,#fff,#FAFAFA,#ff1,#f1f,#1ff,#fff,#fafa,#f123,#fff1,#f1f,#fff,#FAFAFA,#ff1,#f1f,#1ff,#fff,#fafa,#f123,#fff1,#f1f,#fff,#FAFAFA,#ff1,#f1f,#1ff,#fff,#fafa,#f123,#fff1,#f1f,#fff,#FAFAFA,#ff1,#f1f,#1ff,#fff,#fff,#fafa,#f123,#fff1,#f1f,#fff,#FAFAFA,#ff1,#f1f,#1ff,#fff,#fff,#fafa,#f123,#fff1,#f1f,#fff,#FAFAFA,#ff1,#f1f,#1ff,#fff,#fff,#fafa,#f123,#fff1,#f1f,#fff,#FAFAFA,#ff1,#f1f,#1ff,#fff,#fafa,#f123,#fff1,#f1f,#fff,#FAFAFA,#ff1,#f1f,#1ff,#fff,#fafa,#f123,#fff1,#f1f,#fff,#FAFAFA,#ff1,#f1f,#1ff,#fff,#fafa,#f123,#fff1,#f1f,#fff,#FAFAFA,#ff1,#f1f,#1ff,#fff,#fafa,#f123,#fff1,#f1f,#fff,#FAFAFA,#ff1,#f1f,#1ff,#fff,#fafa,#f123,#fff1,#f1f,#fff,#FAFAFA,#ff1,#f1f,#1ff,#fff,#fafa,#f123,#fff1,#f1f,#fff,#FAFAFA,#ff1,#f1f,#1ff,#fff,#fafa,#f123,#fff1,#f1f,#fff,#FAFAFA,#ff1,#f1f,#1ff,#fff,#fafa,#f123,#fff1,#f1f,#fff,#FAFAFA,#ff1,#f1f,#1ff,#fff,#fff,#fafa,#f123,#fff1,#f1f,#fff,#FAFAFA,#ff1,#f1f,#1ff,#fff,#fff,#fafa,#f123,#fff1,#f1f,#fff,#FAFAFA,#ff1,#f1f,#1ff,#fff,#fff,#fafa,#f123,#fff1,#f1f,#fff,#FAFAFA,#ff1,#f1f,#1ff,#fff,#fafa,#f123,#fff1,#f1f,#fff,#FAFAFA,#ff1,#f1f,#1ff,#fff,#fafa,#f123,#fff1,#f1f,#fff,#FAFAFA,#ff1,#f1f,#1ff,#fff,#fafa,#f123,#fff1,#f1f,#fff,#FAFAFA,#ff1,#f1f,#1ff,#fff,#fafa,#f123,#fff1,#f1f,#fff,#FAFAFA,#ff1,#f1f,#1ff,#fff,#fafa,#f123,#fff1,#f1f,#fff,#FAFAFA,#ff1,#f1f,#1ff,#fff,#fafa,#f123,#fff1,#f1f,#fff,#FAFAFA,#ff1,#f1f,#1ff,#fff,#fafa,#f123,#fff1,#f1f,#fff,#FAFAFA,#ff1,#f1f,#1ff,#fff,#fafa,#f123,#fff1,#f1f,#fff,#FAFAFA,#fff,#fafa,#f123,#fff1,#f1f,#fff,#FAFAFA,#ff1,#f1f,#1ff,#fff,#fafa,#f123,#fff1,#f1f,#fff,#FAFAFA,#ff1,#f1f,#1ff,#fff,#fafa,#f123,#fff1,#f1f,#fff,#FAFAFA,#ff1,#f1f,#1ff,#fff,#fafa,#f123,#fff1,#f1f,#fff,#FAFAFA,#ff1,#f1f,#1ff,#fff,#fafa,#f123,#fff1,#f1f,#fff,#FAFAFA,#ff1,#f1f,#1ff,#fff,#fafa,#f123,#fff1,#f1f,#fff,#FAFAFA,#ff1,#f1f,#1ff,#fff,#fafa,#f123,#fff1,#f1f,#fff,#FAFAFA,#ff1,#f1f,#1ff,#fff,#fafa,#f123,#fff1,#f1f,#fff,#FAFAFA,#ff1,#f1f,#1ff,#fff,#fff,#fafa,#f123,#fff1,#f1f,#fff,#FAFAFA,#ff1,#f1f,#1ff,#fff,#fff,#fafa,#f123,#fff1,#f1f,#fff,#FAFAFA,#ff1,#f1f,#1ff,#fff,#fff,#fafa,#f123,#fff1,#f1f,#fff,#FAFAFA,#ff1,#f1f,#1ff,#fff,#fafa,#f123,#fff1,#f1f,#fff,#FAFAFA,#ff1,#f1f,#1ff,#fff,#fafa,#f123,#fff1,#f1f,#fff,#FAFAFA,#ff1,#f1f,#1ff,#fff,#fafa,#f123,#fff1,#f1f,#fff,#FAFAFA,#ff1,#f1f,#1ff,#fff,#fafa,#f123,#fff1,#f1f,#fff,#FAFAFA,#ff1,#f1f,#1ff,#fff,#fafa,#f123,#fff1,#f1f,#fff,#FAFAFA,#ff1,#f1f,#1ff,#fff,#fafa,#f123,#fff1,#f1f,#fff,#FAFAFA,#ff1,#f1f,#1ff,#fff,#fafa,#f123,#fff1,#f1f,#fff,#FAFAFA,#ff1,#f1f,#1ff,#fff,#fafa,#f123,#fff1,#f1f,#fff,#FAFAFA,#ff1,#f1f,#1ff,#fff,#fff,#fafa,#f123,#fff1,#f1f,#fff,#FAFAFA,#ff1,#f1f,#1ff,#fff,#fff,#fafa,#f123,#fff1,#f1f,#fff,#FAFAFA,#ff1,#f1f,#1ff,#fff,#fff,#fafa,#f123,#fff1,#f1f,#fff,#FAFAFA,#ff1,#f1f,#1ff,#fff,#fafa,#f123,#fff1,#f1f,#fff,#FAFAFA,#ff1,#f1f,#1ff,#fff,#fafa,#f123,#fff1,#f1f,#fff,#FAFAFA,#ff1,#f1f,#1ff,#fff,#fafa,#f123,#fff1,#f1f,#fff,#FAFAFA,#ff1,#f1f,#1ff,#fff,#fafa,#f123,#fff1,#f1f,#fff,#FAFAFA,#ff1,#f1f,#1ff,#fff,#fafa,#f123,#fff1,#f1f,#fff,#FAFAFA,#ff1,#f1f,#1ff,#fff,#fafa,#f123,#fff1,#f1f,#fff,#FAFAFA,#ff1,#f1f,#1ff,#fff,#fafa,#f123,#fff1,#f1f,#fff,#FAFAFA,#ff1,#f1f,#1ff,#fff,#fafa,#f123,#fff1,#f1f,#fff,#FAFAFA,#ff1,#f1f,#1ff,#fff,#fff,#fafa,#f123,#fff1,#f1f,#fff,#FAFAFA,#ff1,#f1f,#1ff,#fff,#fff,#fafa,#f123,#fff1,#f1f,#fff,#FAFAFA,#ff1,#f1f,#1ff,#fff,#fff,#fafa,#f123,#fff1,#f1f,#fff,#FAFAFA,#ff1,#f1f,#1ff,#fff,#fafa,#f123,#fff1,#f1f,#fff,#FAFAFA,#ff1,#f1f,#1ff,#fff,#fafa,#f123,#fff1,#f1f,#fff,#FAFAFA,#ff1,#f1f,#1ff,#fff,#fafa,#f123,#fff1,#f1f,#fff,#FAFAFA,#ff1,#f1f,#1ff,#fff,#fafa,#f123,#fff1,#f1f,#fff,#FAFAFA,#ff1,#f1f,#1ff,#fff,#fafa,#f123,#fff1,#f1f,#fff,#FAFAFA,#ff1,#f1f,#1ff,#fff,#fafa,#f123,#fff1,#f1f,#fff,#FAFAFA,#ff1,#f1f,#1ff,#fff,#fafa,#f123,#fff1,#f1f,#fff,#FAFAFA,#ff1,#f1f,#1ff,#fff,#fafa,#f123,#fff1,#f1f,#fff,#FAFAFA,#ff1,#f1f,#1ff,#fff,#fff,#fafa,#f123,#fff1,#f1f,#fff,#FAFAFA,#ff1,#f1f,#1ff,#fff,#fff,#fafa,#f123,#fff1,#f1f,#fff,#FAFAFA,#ff1,#f1f,#1ff,#fff,#fff,#fafa,#f123,#fff1,#f1f,#fff,#FAFAFA,#ff1,#f1f,#1ff,#fff,#fafa,#f123,#fff1,#f1f,#fff,#FAFAFA,#ff1,#f1f,#1ff,#fff,#fafa,#f123,#fff1,#f1f,#fff,#FAFAFA,#ff1,#f1f,#1ff,#fff,#fafa,#f123,#fff1,#f1f,#fff,#FAFAFA,#ff1,#f1f,#1ff,#fff,#fafa,#f123,#fff1,#f1f,#fff,#FAFAFA,#ff1,#f1f,#1ff,#fff,#fafa,#f123,#fff1,#f1f,#fff,#FAFAFA,#ff1,#f1f,#1ff,#fff,#fafa,#f123,#fff1,#f1f,#fff,#FAFAFA,#ff1,#f1f,#1ff,#fff,#fafa,#f123,#fff1,#f1f,#fff,#FAFAFA,#ff1,#f1f,#1ff,#fff,#fafa,#f123,#fff1,#f1f,#fff,#FAFAFA,#fff,#FAFAFA,#ff1,#f1f,#1ff,#fff,#fafa,#f123,#fff1,#f1f,#fff,#FAFAFA,#ff1,#f1f,#1ff,#fff,#fafa,#f123,#fff1,#f1f,#fff,#FAFAFA,#ff1,#f1f,#1ff,#fff,#fafa,#f123,#fff1,#f1f,#fff,#FAFAFA,#fff,#FAFAFA,#ff1,#f1f,#1ff,#fff,#fafa,#f123,#fff1,#f1f,#fff,#FAFAFA,#ff1,#f1f,#1ff,#fff,#fafa,#f123,#fff1,#f1f,#fff,#FAFAFA,#ff1,#f1f,#1ff,#fff,#fafa,#f123,#fff1,#f1f,#fff,#FAFAFA,#fff,#FAFAFA,#ff1,#f1f,#1ff,#fff,#fafa,#f123,#fff1,#f1f,#fff,#FAFAFA,#ff1,#f1f,#1ff,#fff,#fafa,#f123,#fff1,#f1f,#fff,#FAFAFA,#ff1,#f1f,#1ff,#fff,#fafa,#f123,#fff1,#f1f,#fff,#FAFAFA,#fff,#FAFAFA,#ff1,#f1f,#1ff,#fff,#fafa,#f123,#fff1,#f1f,#fff,#FAFAFA,#ff1,#f1f,#1ff,#fff,#fafa,#f123,#fff1,#f1f,#fff,#FAFAFA,#ff1,#f1f,#1ff,#fff,#fafa,#f123,#fff1,#f1f,#fff,#FAFAFA,#fff,#FAFAFA,#ff1,#f1f,#1ff,#fff,#fafa,#f123,#fff1,#f1f,#fff,#FAFAFA,#ff1,#f1f,#1ff,#fff,#fafa,#f123,#fff1,#f1f,#fff,#FAFAFA,#ff1,#f1f,#1ff,#fff,#fafa,#f123,#fff1,#f1f,#fff,#FAFAFA,#fff,#FAFAFA,#ff1,#f1f,#1ff,#fff,#fafa,#f123,#fff1,#f1f,#fff,#FAFAFA,#ff1,#f1f,#1ff,#fff,#fafa,#f123,#fff1,#f1f,#fff,#FAFAFA,#ff1,#f1f,#1ff,#fff,#fafa,#f123,#fff1,#f1f,#fff,#FAFAFA,#fff,#FAFAFA,#ff1,#f1f,#1ff,#fff,#fafa,#f123,#fff1,#f1f,#fff,#FAFAFA,#ff1,#f1f,#1ff,#fff,#fafa,#f123,#fff1,#f1f,#fff,#FAFAFA,#ff1,#f1f,#1ff,#fff,#fafa,#f123,#fff1,#f1f,#fff,#FAFAFA,#fff,#FAFAFA,#ff1,#f1f,#1ff,#fff,#fafa,#f123,#fff1,#f1f,#fff,#FAFAFA,#ff1,#f1f,#1ff,#fff,#fafa,#f123,#fff1,#f1f,#fff,#FAFAFA,#ff1,#f1f,#1ff,#fff,#fafa,#f123,#fff1,#f1f,#fff,#FAFAFA,#ff1,#f1f,#1ff,#fff,#fafa,#f123,#fff1,#f1f,#fff,#FAFAFA,#ff1,#f1f,#1ff,#fff,#fafa,#f123,#fff1,#f1f,#fff,#FAFAFA);
		background-size:cover;
		min-height: 100vh;
	}
	h1{
		font-size:1em;
		align-items:center;
		justify-content:center;
		width:100%;
		height:100px;
		float:center;
		
	}
	span{
		opacity:0;
		font-size:3.5em;
		background:url(twistingcircle2.gif);
		background-size:cover;
		-webkit-background-clip:text;
		animation: aashish 1s linear forwards;
		

	}
	

	@keyframes aashish{
		0%{
			opacity:0;
			transform:rotateY(90deg);
			filter:blur(20px);
		}
		100%{
			opacity:1;
			transform:rotateY(0deg);
			filter:blur(0);
		}
	}span:nth-child(1){
		margin-right:0px;
		animation-delay:0.3s;
	}
	span:nth-child(2){
		margin-right:0px;
		animation-delay:0.5s;
	}
	span:nth-child(3){
		margin-right:0px;
		animation-delay:0.65s;
	}
	span:nth-child(4){
		margin-right:0px;
	animation-delay:0.8s;
	}
	span:nth-child(5){
		margin-right:0px;
		animation-delay:1.0s;
	}
	span:nth-child(6){
		margin-left:20px;
		animation-delay:1.16s;
	}
	span:nth-child(7){
		margin-right:0px;
		animation-delay:1.32s;
	}
	span:nth-child(8){
		margin-left:0px;
		animation-delay:1.56s;
	}
	span:nth-child(9){
		margin-right:0px;
		animation-delay:1.8s;
	}
	span:nth-child(10){
		margin-left:20px;
		animation-delay:2.0s;
	}
	span:nth-child(11){
		margin-right:20px;
		animation-delay:2.1s;
	}
	span:nth-child(12){
		margin-right:0px;
		animation-delay:2.27s;
	}
	span:nth-child(13){
		margin-right:0px;
		animation-delay:2.5s;
	}
	span:nth-child(14){
		margin-right:0px;
		animation-delay:2.7s;
	}
	span:nth-child(15){
		margin-right:0px;
		animation-delay:2.8s;
	}
	span:nth-child(16){
		margin-left:20px;
		animation-delay:2.9s;
	}
	span:nth-child(17){
		margin-right:0px;
		animation-delay:3s;
	}
	span:nth-child(18){
		margin-left:20px;
		animation-delay:3.25s;
	}
	span:nth-child(19){
		margin-right:0px;
		animation-delay:3.32s;
	}
	span:nth-child(20){
		margin-right:0px;
		animation-delay:3.5s;
	}
	span:nth-child(21){
		margin-right:20px;
		animation-delay:3.65s;
	}
	span:nth-child(22){
		margin-right:0px;
		animation-delay:3.8s;
	}
	span:nth-child(23){
		margin-right:0px;
		animation-delay:3.9s;
	}
	span:nth-child(24){
		margin-right:0px;
		animation-delay:4.05s;
	}
	span:nth-child(25){
		margin-right:0px;
		animation-delay:4.2s;
	}
	span:nth-child(26){
		margin-right:0px;
		animation-delay:4.35s;
	}
	span:nth-child(27){
		margin-right:0px;
		animation-delay:4.5s;
	}
	span:nth-child(28){
		margin-right:0px;
		animation-delay:4.6s;
	}
	span:nth-child(29){
		animation-delay:5.01s;
		margin-right:auto;}


		@keyframes animate{
		0%{
			background:linear-gradient(45deg,#333,green,yellow,pink,red,purple,#eee,white,orange,blue);
		-webkit-background-clip:text;
		color:transparent;
		}
		10%{
			background:linear-gradient(71deg,pink,red,purple,#eee,white,orange,blue,#333,green,yellow);
		-webkit-background-clip:text;
		color:transparent;
		}
		20%{
			background:linear-gradient(80deg,red,purple,#eee,white,orange,blue,#333,green,yellow,pink);
		-webkit-background-clip:text;
		color:transparent;
		}
		30%{
			background:linear-gradient(50deg,#eee,#abc,#ccc,#000);
		-webkit-background-clip:text;
		color:transparent;
		}
		40%{
			background:linear-gradient(30deg,#eee,#abc,#ccc,#000);
		-webkit-background-clip:text;
		color:transparent;
		}
		50%{background:linear-gradient(55deg,green,yellow,pink,red,purple,#eee,white,orange,blue,#333);
		-webkit-background-clip:text;
		color:transparent;

		}
		60%{
			background:linear-gradient(62deg,yellow,pink,red,purple,#eee,white,orange,blue,#333,green);
		-webkit-background-clip:text;
		color:transparent;
		}
		70%{
			background:linear-gradient(71deg,pink,red,purple,#eee,white,orange,blue,#333,green,yellow);
		-webkit-background-clip:text;
		color:transparent;
		}
		80%{
			background:linear-gradient(80deg,red,purple,#eee,white,orange,blue,#333,green,yellow,pink);
		-webkit-background-clip:text;
		color:transparent;
		}
		90%{
			background:linear-gradient(50deg,#eee,#abc,#ccc,#000);
		-webkit-background-clip:text;
		color:transparent;
		}
		100%{
			background:linear-gradient(30deg,#eee,#abc,#ccc,#000);
		-webkit-background-clip:text;
		color:transparent;
		}
		}
